.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    padding: 15px;
    border: 2px solid black;
}  

.flex-child:first-child {
    margin-right: 20px;
    padding: 15px;
} 

.list-item{
    color: black;
    cursor: pointer;
}

.selected {
    color:blue;
    border-left:4px solid blue;
    padding: 4px;
}

.delete-button {
    float: right;
    cursor: pointer;
    color: red;
}
