<div class="flex-container">
  <div class="flex-child">
    <h3> CATEGORIES </h3>
    <div *ngFor="let x of categories; let index = index;">
      <ul>
      <span class="list-item" [ngClass]="{'selected' : (x === selectedCategory)}" (click)="setCategory(x)">{{x.name}}</span>
    </ul>
</div>
          <input [(ngModel)]="newCategory" type="text" 
                  placeholder="Enter Category Name"
                      style="width:300px;">

          <button (click)="addCategory()" 
              class="btn btn-light text-success">
              ADD CATEGORY
          </button>

  </div>

  <div *ngIf="!!selectedCategory" class="flex-child">
    <h3> TASKS FOR {{ selectedCategory.name }} </h3>
    <div *ngFor="let item of selectedCategory.todo; let index = index;">

      <li *ngIf="item.name">{{item.name}}
        <span class="delete-button" (click)="deleteTask(index)"> X </span>
        <input type="checkbox" (click)="completeTask(index)" [checked]="item.completed">
      </li>

</div>
          <input [(ngModel)]="newTask" type="text" 
                  placeholder="Enter Task Name"
                      style="width:300px;">

          <button (click)="addToList()" 
              class="btn btn-light text-success">
              ADD TASK
          </button>

  </div>
</div>